<?xml version="1.0" encoding="utf-8"?>
<Services>
  <Service>
    <Name>ONESIGNAL</Name>
    <Type>Notifications</Type>
    <ClassName>GeneXus.Core.genexus.common.notifications.onesignal.{procName}, GeneXus</ClassName>
    <Properties>
      <Property>
        <Name>APP_ID</Name>
        <Value>001753d1-3e22-43f2-81a1-18c1f8240bf6</Value>
      </Property>
      <Property>
        <Name>REST_API_KEY</Name>
        <Value>NTgzNDc2ZjYtNDk3OS00NDRlLTk1NGItN2U3YWVlYThkNGNi</Value>
      </Property>
    </Properties>
  </Service>
  <Service>
    <Name>INPROCESS</Name>
    <Type>WebNotifications</Type>
    <ClassName>GeneXus.Http.WebSocket.WSHandler</ClassName>
    <Properties>
      <Property>
        <Name>WEBNOTIFICATIONS_RECEIVED_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONOPEN_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONCLOSE_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONERROR_HANDLER</Name>
        <Value />
      </Property>
    </Properties>
  </Service>
</Services>